body{
	font-family: 'Cutive Mono', monospace;
}

.bg-primary {
        background-color: #35281f73!important;
}

.clear-filter[filter-color=orange] {
    background: rgba(44,44,44,.2);
    background: linear-gradient(0deg,rgba(44,44,44,.2),rgb(19, 18, 17));
}

h2{
	color:#7b3214;
}

#CoffeeFactContainer{
	padding:10px;
}
.CoffeeFactTitle{
	text-align: center;
}
.CoffeeFactList{
	font-size: 14px;
	text-align: center;
}

#CoffeeBenefitImg{
	align-content: center;
}

.CoffeeFactList li{
	text-align: center;
}
#CoffeefactSection{
	  background-image: url(c.jpg);
	  margin-bottom: 2px;

}

















@media (min-width: 992px)
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}